@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: auto;
  margin-block: 30px;
  width: fit-content;
  text-transform: uppercase;
}

.app-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
}

.balance {
  background-color: #3a3dbe;
  color: white;
  border-radius: 6px;
  padding: 0.8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.balance .total-balance {
  grid-area: 1 / 1 / span 1 / span 2;
}

.balance p:first-child {
  font-weight: 600;
}

.balance > * {
  place-self: center;
  text-align: center;
  padding: 0.2em;
  text-transform: uppercase;
}

.balance .total-balance p:last-child {
  font-size: 2rem;
  font-weight: 600;
}

.balance .expense p:last-child,
.balance .income p:last-child {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  text-align: center;
  font-size: 1.6rem;
  margin-block: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 0.4em;
  margin-bottom: 5px;
  position: relative;
}

.buttons button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}

.buttons::after {
  content: "";
  width: 40%;
  height: 100%;
  background-color: rgba(212, 212, 212, 0.6);
  position: absolute;
  left: 5%;
  top: 0;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.2s;
}

.buttons.active::after {
  left: 55%;
}

.form {
  padding: 1em;
  position: relative;
}

.form > div {
  padding: 0.5em;
  display: flex;
  gap: 30px;
  align-items: center;
}

.form > div > div {
  display: flex;
  flex-direction: column;
}

.form input,
.form select {
  width: 200px;
  border: none;
  outline: none;
  background-color: rgba(212, 212, 212, 0.6);
  padding: 0.6em 1em;
  border-radius: 5px;
  margin-block: 5px;
}

.form label {
  font-size: 0.9rem;
}

.form-wrapper {
  display: flex;
}

.form button {
  width: 95%;
  display: block;
  margin: auto;
  margin-block: 10px;
  border: none;
  outline: none;
  background-color: #3a3dbe;
  color: white;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
  cursor: pointer;
}

.transactions {
  padding: 0.5em 1em;
}

.top-headings {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.transactions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transactions-wrapper > div > div {
  margin-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  padding: 0.8em 0.5em;
  cursor: default;
  transition: background-color 0.3s ease-in-out;
}

.transactions-wrapper > div button {
  transition: all 0.3s;
  transform-origin: right;
  transform: scaleX(0);
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  padding: 0 0.5em;
  height: 100%;
  background-color: red;
  color: white;
  cursor: pointer;
}

.transactions-wrapper > div > div:hover button {
  transform: scaleX(1);
}

.transactions-wrapper > div > div:has(button:hover) {
  background-color: rgba(255, 0, 0, 0.4);
}

.transactions-wrapper > div > div:hover {
  background-color: #d4d4d4;
}

.transactions-wrapper > div p:first-child {
  text-transform: capitalize;
  font-weight: 600;
}

.transactions-wrapper > div p:last-child {
  font-size: 0.8rem;
}

.transactions-wrapper .description {
  margin-inline: 15px;
  width: 100%;
  text-align: start;
}

.transactions-wrapper .amount {
  font-size: 1.2rem;
  font-weight: 500;
}

.form.active::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(212, 212, 212, 0.45);
}

.expense-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.expense-wrapper .name-date {
  width: 50%;
}
